body {
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("../src/assets/bg-pattern-1.svg"), url("../src/assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.first-section {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: start;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 100px;
}
.first-section .first-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.first-section .first-info h1 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
  width: 70%;
}
.first-section .first-info .description {
  width: 55%;
  line-height: 34px;
  font-size: 20px;
  font-style: normal;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.middle-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 600px;
  min-width: inherit;
  width: 65%;
  border-radius: 10px;
  background-color: #000;
  background-image: url("../src/assets/bg-pattern-2.svg");
  background-position: top 20% center;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}
.middle-section .app-img {
  height: 642px;
  width: 312px;
  margin-bottom: 150px;
  position: relative;
  top: -50px;
}
.middle-section .subscription-container {
  width: 446px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FA7453;
  border-radius: 20px;
  color: white;
  padding: 50px;
  margin-bottom: -100px;
}
.middle-section .subscription-container .info-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 40px;
  margin-bottom: 46px;
}
.middle-section .subscription-container .info-container h3 {
  line-height: 52px;
  font-weight: bold;
  font-size: 40px;
}
.middle-section .subscription-container .info-container .info-description {
  width: 333px;
  height: 170px;
  line-height: 34px;
  font-size: 20px;
  font-style: normal;
}
.middle-section .subscription-container .info-container .price {
  line-height: 52px;
  font-size: 65px;
  font-weight: bold;
}
.middle-section .subscription-container .btn-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.middle-section .subscription-container .btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border: none;
  gap: 7px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}
.middle-section .subscription-container .btn-container .apple-btn {
  background-color: black;
  color: white;
  transition: 1s;
}
.middle-section .subscription-container .btn-container .apple-btn:hover {
  background-color: #66E2DC;
}
.middle-section .subscription-container .btn-container .android-btn {
  background-color: white;
  transition: 0.5s;
}
.middle-section .subscription-container .btn-container .android-btn:hover {
  background-color: #FFB864;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
  align-items: center;
  margin-bottom: 30px;
}
footer .brand-detail {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}
footer .brand-detail .details {
  display: flex;
  flex-direction: column;
}
footer .social {
  display: flex;
  gap: 1rem;
  width: 10%;
}
footer .social .icon {
  cursor: pointer;
  transition: 0.7s;
}
footer .social .icon:hover {
  fill: #FFB964;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    background: no-repeat top right url("../src/assets/bg-pattern-1.svg"), url("../src/assets/bg-main-tablet.png");
    background-size: 30%, cover;
  }
  .first-section .first-info {
    margin-top: 100px;
  }
  .first-section .first-info h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
  }
  .first-section .first-info .description {
    width: 80%;
    line-height: 28px;
    font-size: 18px;
  }
  .middle-section .app-img {
    width: 60%;
    position: absolute6;
  }
  .middle-section .subscription-container .info-container {
    height: 546px;
    width: 399px;
  }
  .middle-section .subscription-container .info-container .info-description {
    line-height: 28px;
    font-size: 18px;
  }
  .middle-section .subscription-container .info-container .price {
    line-height: 52px;
    font-size: 65px;
    font-weight: bold;
  }
  footer {
    justify-content: center;
  }
  footer .brand-detail {
    align-items: start;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  body {
    background-image: url("../src/assets/bg-main-mobile.png");
  }
  .container {
    width: fit-content;
  }
  .first-section {
    margin-bottom: 150px;
  }
  .first-section .first-info {
    margin-top: 64px;
  }
  .first-section .first-info h1 {
    max-width: 90%;
    font-size: 40px;
    line-height: 49px;
  }
  .first-section .first-info p {
    max-width: 90%;
    font-size: 16px;
    line-height: 26px;
  }
  .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin-bottom: 200px;
    background-size: 80%;
  }
  .middle-section .app-img {
    width: 70%;
  }
  .middle-section .subscription-container {
    width: 100%;
    padding: 5%;
  }
  .middle-section .subscription-container .info-container h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .middle-section .subscription-container .info-container .info-description {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
  }
  .middle-section .btn-container button {
    width: 100%;
  }
  footer {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  footer span {
    font-size: 16px;
    line-height: 28px;
  }
  .brand {
    font-size: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
